p {
	color:white;
}

#Banner {
	text-align:left;
	margin: auto
}

body {
	min-width: 800px;
	background-color: #23241f;
	text-align: left;
}

#Body {
	color:white;
	text-align:left;
	margin: auto;
	background: url(Images/body_fill.png) repeat-y center scroll;
}

table {
	color:white;
	text-align:left;
	margin: auto;
}

#Navigation {
	margin: auto;
	min-width: 1200px;
}

h {
	color:white;
	text-align:left;
	font-size:xx-large
}
 

#Footer {
	color: white;
	text-align: left;
}

.footerText {
	color: white;
	text-align: left;
	font-weight: normal;
}

.backTop {
	color: lime;
	position: fixed;
	top: 90%;
	right: 50px;
	font-style: normal;
	font-weight: normal;
}

